
/* Define Nextflow configuration settings for SCALPEL pipeline execution */
/* ===================================================================== */

/* -> Processes */

/* Enter here the desired Nextflow parameters for execution (see https://www.nextflow.io/docs/latest/index.html)*/

params {
    // General parameters
    workDir = './work'          // Directory for Nextflow work files
    process.executor = 'local'  // Default executor, can be overridden in the executor block
    process.queue = 'default'   // Default queue, can be overridden in the executor block

    //=====1. Specific parameters for SCALPEL pipeline====
    outputDir = "./results" // Directory for output files

    // 1a. Reads:
    samplesheet = null
    sequencing = null
    barcodes = null
    clusters = null

    // 1b. Annotation:
    transcriptome = null
    gtf = null
    ipdb = null

    // 1c. Thresholds:
    dt_threshold = 600
    de_threshold = 30
    ip_threshold = 60
    gene_fraction = "98%"
    binsize = 20
    subsample = 1
    help = null

    //=====2. Running parameters=====
    params.cpus = 40           /* Adjust as needed */
    params.memory = 350.GB     /* Adjust as needed */
}


/* global parameters for execution */
executor {
    name = 'local'
    cpus = params.cpus
    memory = params.memory
    maxForks = params.cpus
}



/* Parameters by process */
process {
    withLabel: big_rec {
        cpus = params.cpus
        memory = params.memory
        time = '2000h'
    }

    withLabel: small_rec {
        cpus = 40
        memory = {
            def base = (params.memory.toMega() / params.cpus).toInteger()
            def scaled = base * Math.pow(2, task.attempt - 1)
            Math.max(scaled.toInteger(), 2048).MB
        }
        maxForks = params.cpus
        maxRetries = 1
        time = '2000h'
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
    }
}


/* Apptainer support */
// If using Apptainer, insert to runOption SCALPEL local path ; Ex: runOptions = "--bind PATH_TO_SCALPEL_REPO:PATH_TO_SCALPEL_REPO"
apptainer {
    enabled = true
    autoMounts = true
    runOptions = "--bind "
}
